form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto 0 auto;
}

h2 {
  color: #5068a9;
}

input {
  display: block;
  padding: 7px;
  width: 300px;
  border-radius: 3px;
  border: none;
  font-size: 20px;
  color:#5068a9; 
}

input:focus {
  outline: none;
  border-bottom: 1px solid #5068a9; 
}

input:hover {
  border-color: #5068a9; 
}

button {
  width: 200px;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: #97aeef;
  color: white;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  top: 0;
  left: -100%;
  transition: all 0.3s ease;
}

button:hover::before {
  left: 100%;
}

button:hover {
  cursor: pointer;
  color: black;
}

.offh3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.menuTitle {
  color: #5068a9; 
}

@media screen and (min-width: 320px) {
  .nav {
      padding: 10px;
  }

  ul {
      display: none;
  }

  .navToggle {
      font-size: 35px;
  }

  .menuTitle {
      font-size: 20px;
  }

  a {
      font-size: 15px;
  }

  .menuClose {
      font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  .menuTitle {
      font-size: 30px;
  }

  a {
      font-size: 25px;
  }

  .menuClose {
      font-size: 25px;
  }
}

@media screen and (min-width: 1024px) {
  ul {
      font-size: 20px;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      gap: 20px;
  }

  .navToggle {
      display: none;
  }
}
